  
.image{
    width: 100%;
   
}
.old-price{
  text-decoration-line: line-through;
  text-decoration-color:gray;
  color:gray;
  font-size: 15px;
  display: inline;
  margin-left: 10px;
   
}

.new-price{
   display: inline;
   font-size: 25px;
   font-weight: 5px;
    
}

.dis{
  font-size: 15px;
  color:rgb(84, 81, 81);
  display: inline;
  margin-left: 10px;
   
}

.type{
  color:grey;
}

.title{
  color:green
}

.courses{
 border-style: solid;
 border-width: 1px;
 border-color: rgb(169, 166, 166);
 border-radius: 5px;
 width:300px;
 overflow: hidden;

  
}
a {
  color:green;
   text-decoration: none;

    display: inline-block;

    margin-top: 15px;

}
.content{
  padding: 15px;
}
